#container {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  margin: 5px;
  padding: 20px;
}

#container .title {
  height: 40px;
  width: 105px;
  background: lightgreen;
  margin: 5px;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
}

#container .title--active {
  background: lightblue;
}

#container .body {
  font-size: 24px;
  padding: 20px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  visibility: hidden;
}

#container .body--active {
  position: absolute;
  left: 35px;
  width: 20%;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
}
